{% extends "base.html" %}

{% block content %}

<h3 class="text-center">{{ titulo }}</h3>


<div class="row my-4 mx-auto">
    <div class="col-lg-12 my-2">
        <a href='{% url "Posts:create_post" %} ' class="btn btn-outline-info">Crear Post</a>
        <a href='{% url "Posts:create_category" %} ' class="btn btn-outline-info">Crear categoria</a>
        <a href='{% url "Posts:create_autor" %} ' class="btn btn-outline-info">Crear Autor</a>
    </div>
</div>

<div class="row">
    {% for autor in autores %}
    <div class="col-sm-12 my-2">
        <div class="card">
            <div class="card-body mx-2 my-2">
                <h3>{{autor.nombre}}</h3>
                <p class="card-text"><h2>{{ autor.ap_pat }}</h2></p>
                <p class="card-text">{{ autor.ap_mat }}</p>
                {% if autor.imagen_autor %}
                <img src="{{autor.imagen_autor.url}}" class="w-25 h-25">
                {% endif %}
            </div>
            <div class="card-footer">
                {% comment %} <small>{{autor.timestamp|timesince}}</small> {% endcomment %}
                <small>Fecha de registro: {{ autor.timestamp }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<ul class="pagination justify-content-center">
    <li class="page-item">
        {% if autores.has_previous %}
        <a href="?page=1">&laquo; first >> </a>
        <a href="?page={{ autores.previous_page_number }}"> << previous </a>
        {% endif %}
    </li>
    <li class="page-item">
        Page {{ autores.number }} of {{ autores.paginator.num_pages }}
    </li>
    <li class="page-item">
        {% if autores.has_next %}
        <a href="?page={{ autores.next_page_number }}">  next >> </a>
        <a href="?page={{ autores.paginator.num_pages }}"> >> last  &raquo;</a>
        {% endif %}
    </li>
</ul>

{% endblock content %}