{% extends "base.html" %}

{% block content %}
<div class="row">
<h1>{{titlepage}}</h1>
    <div class="col-lg-8 col-lg-offset">
      <form class="form" method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{ form_categoria.as_p }}
          <input type="submit" class="btn btn-info" name="submit">
        </div>
      </form>
    </div>
</div>
    <div class="row my-4 mx-auto">
            <div class="col-lg-12 my-2 mx-auto">
                <a href='{% url "Posts:list" %} ' class="btn btn-outline-info">Regresar</a>
            </div>        
    </div>

{% endblock content %}
