{% extends "base.html" %}
{% load urlify %}
    <style>
      {% block estilos %}
        h1{
          color: #4acbcb;
        }
      {% endblock estilos %}
    </style>

{% block content %} 

    <div class="card text-center content-card">
      <div class="card-header">
         <h2>{{ autor_.nombre }}</h2>
    
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">

            {% if autor_.imagen_autor %}
                  <img src="{{autor_.imagen_autor.url}}" class="w-50 h-50">
            {% endif %}
           {% comment %} <small><p>{{autor_.timestamp}}</p></small> {% endcomment %}
        </div>
      
        </div>

        <div class="col-md-6 mx-auto my-auto">
            <p class="card-text">{{autor_.ap_pat}}</p>
            <p class="card-text">{{autor_.ap_mat}}</p>
          
          {% comment %} <p>Slug Title</p> {% endcomment %}
          <!--<p>{{ autor_.titulo|urlify }}</p>--> {% comment %}tag que transforma una cadena a url {% endcomment %} 
          {% comment %} <p>{{ share_string }}</p><br> {% endcomment %}
        </div>

      </div>

      <div class="card-footer text-muted">
      
        <small><p>Ult. actualización: {{ autor_.timestamp }}</p></small>  
        <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"><i class="fab fa-facebook-square fa-2x"></i> </a>
        <a href="https://twitter.com/home?status=Voy%20a%20aprender%20a%20escribir%20código...%20Anímate%20tú%20también%20a%20crear%20aplicaciones%20web%20conmigo!%20{{share_string}}{{request.build_absolute_uri}}"><i class="fab fa-twitter-square fa-2x"></i></a>
      </div>
    </div>


    <br><br>

    <div class="row my-4 mx-auto">
            <div class="col-lg-12 my-2 mx-auto">
                <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="100%" data-numposts="5"></div>
            </div>   
            <div class="col-lg-12 my-2 mx-auto">
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
            </div>      
    </div>
    <div class="">
        <div class="col-lg-12 my-2 mx-auto">
          <a href='{% url "Posts:list" %} ' class="btn btn-outline-info">Regresar</a>
          <a href='{% url "Posts:create_autor" %} ' class="btn btn-outline-info">Crear Autor</a>
        </div>    
    </div>
      
{% endblock content %}
    
    