<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Listado de Post</title>
  </head>
  <body>
    <h1>Listado {{ titulo }}</h1>
    
    <table border="1px">
        {% for public in publicaciones %}
          <tr>
            <th>Nombre Post</th>
            <th>Titulo</th>
            <th>Contenido</th>
            <th>Actualización</th>
            <th>Timestamp</th>
          </tr>
          <tr>
            <td>{% url "detail" id=public.id %}</td>
            <!-- <td><a href='/posts/detail/{{public.id}}/'>{{public.titulo}}</a></td> -->
            <td><a href='{% url "detail" id=public.id %}'>{{public.titulo}}</a></td>
            <!-- <td><a href='{{ public.get_absolute_url }}'>{{public.titulo}}</a></td> -->
            <td>{{public.contenido}}</td>
            <td>{{public.actualizado}}</td>
            <td>{{public.timestamp}}</td>
          </tr>
        {% endfor %}
    </table>

  </body>
</html>
