{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <ul class="messages">
        {% for message in messages %}
         <strong>Genial!</strong> 
         <li {% if message.tags %} class="{{ message.tags }} mx-2"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
