{% extends "base.html" %}

{% block content %}

<h3 class="text-center">{{ titulo }}</h3>

<form method="GET">
  <div class="form-group">
    <div class="row">
        <div class="col-md-8">
            <input type="text" class="form-control my-2 border border-success" value="{{ request.GET.q }}" name="q" id="bucador" placeholder="Busca un ¡¡Post!!">
        </div>
        <div class="col-md-4">
            <button class="btn btn-outline-success my-2" type="submit">Search</button>
        </div>
    </div>
   
  </div>
</form>

<div class="row my-4">
    <div class="col-lg-12 my-2">
        <a href='{% url "Posts:create_post" %} ' class="btn btn-outline-info">Crear Post</a>
        <a href='{% url "Posts:create_category" %} ' class="btn btn-outline-info">Crear categoria</a>
        <a href='{% url "Posts:create_autor" %} ' class="btn btn-outline-info">Crear Autor</a>
    </div>
</div>

<div class="row">
    {% for public in publicaciones %}
    <div class="col-sm-12 my-2">
        <div class="card">
            <div class="card-body mx-2 my-2">
                <h3>{{public.titulo}}</h3>
                {% if public.draft %}<h6 style="color:#F64400;">DRAFT</h6>{%endif%}
                {% if public.publish > hoy %}<h6 style="color:#F6C400;">FUTURE POST</h6>{%endif%}
                <p class="card-text">{{public.contenido|linebreaks|truncatechars:120}}</p>
                {% if public.imagen %}
                <img src="{{public.imagen.url}}" class="w-25 h-25">
                {% endif %}
                <p>Actualizado hace {{public.actualizado|timesince}}</p>
                {% comment %} <a href='{% url "detail" slug=public.slug %}'>Ver más</a> {% endcomment %}
                <a href='{{public.get_absolute_url}}'>Ver más</a>
            </div>
            <div class="card-footer">
                {% if public.user.get_full_name %}
                <small><p class="autor">Autor: {{public.user.get_full_name}}</p></small>
                {% else %}
                <small><p class="autor">Autor: {{public.user}}</p></small>
                {% endif %}
                {% comment %} <small>{{public.timestamp|timesince}}</small> {% endcomment %}
                <small>Fecha de publicacion: {{public.publish}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<ul class="pagination justify-content-center">
    <li class="page-item">
        {% if publicaciones.has_previous %}
        <a href="?page=1">&laquo; first >> </a>
        <a href="?page={{ publicaciones.previous_page_number }}{%if request.GET.q %}&q={{request.GET.q }}{%endif%}"> << previous </a>
        {% endif %}
    </li>
    <li class="page-item">
        Page {{ publicaciones.number }} of {{ publicaciones.paginator.num_pages }}
    </li>
    <li class="page-item">
        {% if publicaciones.has_next %}
        <a href="?page={{ publicaciones.next_page_number }}{%if request.GET.q %}&q={{request.GET.q }}{%endif%}">  next >> </a>
        <a href="?page={{ publicaciones.paginator.num_pages }}"> >> last  &raquo;</a>
        {% endif %}
    </li>
</ul>

{% endblock content %}