{% extends "base.html" %}

<h1>{{titlepage}}</h1>
{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset">
      <form class="form" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="form-group">
          {{ form.as_p }}
          <input type="submit" class="btn btn-info" name="submit">
        </div>
      </form>
    </div>
</div>
    <div class="row my-4 mx-auto">
            <div class="col-lg-12 my-2 mx-auto">
                <a href='{% url "Posts:list" %} ' class="btn btn-outline-info">Regresar</a>
            </div>
           
    </div>
{% endblock content %}
