@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

*{
    margin:0;
    padding: 0;
    
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Kaushan Script', cursive;
    text-transform: uppercase;
    color: #44aacc;
}

p{
    font-size:14px;
}

p.autor{
    text-transform:capitalize;
    color: #44aacc;
}


.content-card{
    width: 50%;
    margin-left: auto;
    margin-right:auto;
}


input[type='text']{
    padding: 5px;
    color:#44aacc;
}